.Proyecto .Ellipse7 {
    width: 398px;
    height: 91px;
    left: 385px;
    top: 191px;
    position: absolute;
    opacity: 0.30;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
}


.Proyecto .Ellipse8 {
color: black;
 font-size: 30px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}


.Proyecto .Ellipse9 {
color: black;
 font-size: 30px;
 font-family: Inter;
 font-weight: 400;
 text-decoration: underline;
 word-wrap: break-word
}


.Proyecto .Ellipse10 {
color: black;
 font-size: 30px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
}

.Proyecto .Ellipse18 {
    color: black;
    font-size: 60px;
    font-family: Lalezar;
    font-weight: 400;
    word-wrap: break-word;
}